/* Import font dan font-awesome */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

/* Global styles */
* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* menentukan box-sizing global */
}

/* Styling for basic-info and profile-info-wrapper (if needed) */

/* setting-profile-menu */
.setting-profile-wrapper{
    display: flex;
}

.profile-menu-wrapper{
    width: 230px;
    border: 1px solid #eeeeee;
    margin: 20px 0px 20px 20px;
    border-right: none;
    background-color: #ffffff;
}

.profile-menu {
    list-style-type: none;
    padding: 16px;
    margin: 0;
}

/*li.profile-items {
    margin-bottom: 0px;
}*/

.breadcrumb {
    margin: 22px 0 0 20px;
}
.breadcrumb span{
    font-size: 18px;
    font-weight: bold;
}
.breadcrumb ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin-top: 8px;
}

.breadcrumb ul li {
    font-size: 12px;
}

.breadcrumb ul li a {
    position: relative;
    padding-right: 22px;
    text-decoration: none;
    color: #2383E2;
}

.breadcrumb ul li a:after {
    position: absolute;
    content: '>';
    color: #000;
    display: inline-block;
    font-size: 12px;
    top: 50%;
    right: 6px;
    width: 10px;
    height: 100%;
    transform: translateY(-50%);
}


.icon{
    height: 18px;
}

.profile-link{
    color: #000; /* Mengubah warna teks menjadi hitam */
    text-decoration: none; /* Menghilangkan garis bawah pada tautan */
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 7.5px 7.5px 7.5px 7.5px;
}
.profile-link span {
    margin-left: 8px;
}

.profile-link:hover {
    background-color: #f0f0f0;
    border-radius: 3px;
}

.profile-divider {
    width: 100%;
    height: 1px;
    background-color: #eeeeee;
    list-style: none;
    margin: 5px 0;
    padding: 0;
    align-self: stretch;
}
/* end setting-profile-menu */

.profile-info-wrapper{
    border: 1px solid #eeeeee;
    margin: 20px 20px 20px 0px;
    width: calc(100% - 230px);
}

/* Styling for profile-info */
.profile-info {
    padding: 16px 16px;
}

.profile-info .photo-profile p {
    padding-bottom: 5px;
    color: #808B97;
}

.profile-info strong {
    color: #454B51; /* warna untuk tulisan tebal */
}

.profile-photo-placeholder {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #f0f0f0; /* warna latar belakang placeholder foto */
    border: 1px solid #eeeeee;
    border-radius: 50%; /* membuat placeholder foto bulat */
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.profile-photo-placeholder img {
    max-width: 100%;
    max-height: 100%;
}

.profile-photo-placeholder .overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
    color: #fff;
    text-align: center;
    padding: 5px 0;
    font-size: 14px;
    cursor: pointer;
    opacity: 0; /* initially hidden */
    transition: opacity 0.3s ease;
}

.profile-photo-placeholder:hover .overlay {
    opacity: 1; /* show overlay on hover */
}

.profile-photo-placeholder:hover {
    background-color: #e0e0e0; /* light grey background on hover */
}

.profile-info input[type="text"],
.profile-info textarea {
    width: 350px;
    height: 33px;
    padding: 4px 12px;
    font-size: 14px;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    margin-top: 5px;
    background-color: #f2f5f9; /* warna latar belakang */
    transition: background-color 0.3s ease, border-color 0.3s ease; /* transisi warna latar belakang dan border */
}

.profile-photo-placeholder {
    position: relative;
}

.close-photo {
    width: 20px;
    height: 20px;
    background-color: #F2F5F9;
    border: none;
    color: #808B97;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
}

/* Hover state for text inputs and textareas */
.profile-info input[type="text"]:hover,
.profile-info textarea:hover {
    border-color: #2383E2; /* warna border biru saat dihover */
}

/* Focus state for text inputs and textareas */
.profile-info input[type="text"]:focus,
.profile-info textarea:focus {
    border-color: #2383E2; /* warna border biru saat diisi (fokus) */
    outline: none; /* menghapus outline default */
    color: black; /* warna teks tetap hitam saat diisi (fokus) */
}

/* Styling for textarea */
.profile-info textarea {
    height: 100px; /* tinggi textarea */
    resize: vertical; /* biarkan textarea dapat diresize secara vertikal */
}

/* Tambahan styling jika diperlukan */
.profile-info p.gray-text {
    color: #808B97; /* warna untuk teks abu-abu */
}

.profile-info p.small-text {
    font-size: 12px;
    color: #808B97; /* warna untuk teks abu-abu dengan ukuran font lebih kecil */
}

/*  */
.form-profile{
    padding-top: 20px;
}
.form-profile p{
    font-size: 14px;
    padding-top: 5px;
    color: #808B97;
}
.form-profile p strong{
    color: #454B5B;
}
/*  */

.oclock-and-day{
    display: flex;
}

/* toggle */
.toggle-day{
    width: 25%;
}
.toggle{
    display: flex;
    align-items: center;
    padding-top: 15px;
}
.button-toggle{
    background-color: whitesmoke;
    width: 34px;
    height: 17.5px;
    border-radius: 200px;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
}
.button-toggle::before {
    position: absolute;
    content: '';
    background-color: white;
    border: 2px solid #2383E2;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    margin: 1px;
    transition: 0.2s;
    box-sizing: border-box;
}
.toggle input:checked + .button-toggle{
    background-color: #2383E2;
}
.toggle input:checked + .button-toggle::before{
    transform: translateX(16px);
}
.toggle input{
    display: none;
}
.toggle p {
    font-size: 14px;
    margin: 0px;
    padding: 4px;
}
/* end toggle */

/* SET WAKTU */
.set-waktu{
    margin: 50px;
}
.form-set-waktu{
    margin: 10px 0px 10px 0px;
}
.profile-info .set-waktu .form-set-waktu input{
    width: 100px;
    height: 33px;
    padding: 4px 12px;
    font-size: 14px;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    margin-top: 5px;
    background-color: #f2f5f9; /* warna latar belakang */
    transition: background-color 0.3s ease, border-color 0.3s ease; /* transisi warna latar belakang dan border */
}
.profile-info .set-waktu .form-set-waktu span {
    margin: 0px 5px;
}

/* end SET WAKTU */

/* account-security */
.account-security{
    padding: 16px 16px;
}
.account-security strong {
    color: #454B5B; /* warna untuk tulisan tebal */
}
.form-account-security{
    padding-top: 20px;
}
.form-account-security p{
    font-size: 14px;
    padding-top: 5px;
    color: #808B97;
}
.account-security input[type="text"],
.account-security input[type="password"],
.account-security textarea {
    width: 350px;
    height: 33px;
    padding: 4px 12px;
    font-size: 14px;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    margin-top: 5px;
    background-color: #f2f5f9; /* warna latar belakang */
    transition: background-color 0.3s ease, border-color 0.3s ease; /* transisi warna latar belakang dan border */
}
/* Hover state for text inputs and textareas */
.account-security input[type="text"]:hover,
.account-security input[type="password"]:hover,
.account-security textarea:hover {
    border-color: #2383E2; /* warna border biru saat dihover */
}

/* Focus state for text inputs and textareas */
.account-security input[type="text"]:focus,
.account-security input[type="password"]:focus,
.account-security textarea:focus {
    border-color: #2383E2; /* warna border biru saat diisi (fokus) */
    outline: none; /* menghapus outline default */
    color: black; /* warna teks tetap hitam saat diisi (fokus) */
}

/* Styling for textarea */
.account-security textarea {
    height: 100px; /* tinggi textarea */
    resize: vertical; /* biarkan textarea dapat diresize secara vertikal */
}

/* Tambahan styling jika diperlukan */
.account-security p.gray-text {
    color: #808B97; /* warna untuk teks abu-abu */
}

.account-security p.small-text {
    font-size: 12px;
    color: #808B97; /* warna untuk teks abu-abu dengan ukuran font lebih kecil */
}
.account-security .form-account-security span a{
    color: #2383E2;
    font-size: 12px;
}
.icon{
    height: 18px;
    margin-left: 6px;
}

.button-leave{
    color: #000; /* Mengubah warna teks menjadi hitam */
    text-decoration: none; /* Menghilangkan garis bawah pada tautan */
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.button-leave span {
    margin: 0px 6px 0px 5px;
}
.button-leave button{
    width: 200px;
    height: 33px;
    padding: 4px 0px;
    font-size: 14px;
    border: 1px solid #FF0000;
    border-radius: 4px;
    margin-top: 5px;
    background-color: #f2f5f9; /* warna latar belakang */
}
.button-leave button a{
    text-decoration: none;
    color: #FF0000;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* end account-security */

 /* notifications */
 .notifications-wrapper{
    padding: 16px;
 }
.table-profile{
    margin-top: 15px;
}
.table-profile table{
    border-collapse: collapse;
    font-size: 14px;
}
.table-profile table thead th{
    padding: 10px;
    background-color: #eeeeee;
    height: 30px;
    border: 1px solid white;
    border-radius: 5px;
}
.column-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.column-icon span{
    margin: 0px 0px 0px 5px;
}
.table-profile table tbody td{
    padding: 10px;
    height: 30px;
    border-bottom: 1px solid #eeeeee;
}
.toggle-table{
    justify-content: center;
    display: flex;
    align-items: center;
}
.toggle-click{
    display: flex;
    align-items: center;
}
.toggle-click input:checked + .button-toggle{
    background-color: #2383E2;
}
.toggle-click input:checked + .button-toggle::before{
    transform: translateX(16px);
}
.toggle-click input{
    display: none;
}
.table-profile table tbody td input{
    width: 50px;
    padding: 5px;
    background-color: #f2f5f9;
    border: 1px solid #eeeeee;
    border-radius: 4px;
}

 /* end notifications */


 /* input password show hide */
 .input-box{
    display: flex;
    align-items: center;
 }

 .input-box input{
    outline: 0;
    box-sizing: border-box;
 }

 .input-box img{
    width: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    float: right;
    position: relative;
    z-index: 2;
    margin-left: -30px;
    margin-top: 5px;
    box-sizing: border-box;
 }

 .change{
    display: flex;
    align-items: center;
    margin-left: 14px;
 }
