@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.setting-profile-wrapper{
    position: relative;
}



.system-info-wrapper{
    border: 1px solid #eeeeee;
    margin: 20px 20px 20px 0px;
    width: calc(100% - 230px);
}
/* start general-workdpace */
.general-workspace {
    padding: 16px 16px;
    background-color: #ffffff;
}

.form-system-setting{
    padding-bottom: 20px;
}

.form-system-setting p{
    font-size: 14px;
    padding-top: 5px;
    color: #808B97; /* warna untuk teks abu-abu */
}

.general-workspace-info strong{
    color: #454B51; /* warna untuk tulisan tebal */
}

.input-general-workspace,
.general-workspace-info textarea,
.select-general-workspace {
    width: 350px;
    height: 33px;
    padding: 4px 12px;
    font-size: 14px;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    margin-top: 5px;
    background-color: #f2f5f9; /* warna latar belakang */
    transition: background-color 0.3s ease, border-color 0.3s ease; /* transisi warna latar belakang dan border */
}

/* Hover state for text inputs and textareas */
.input-general-workspace:hover,
.general-workspace-info textarea:hover,
.select-general-workspace:hover {
    border-color: #2383E2; /* warna border biru saat dihover */
}

/* Focus state for text inputs and textareas */
.input-general-workspace:focus,
.general-workspace-info textarea:focus,
.select-general-workspace:focus{
    border-color: #2383E2; /* warna border biru saat diisi (fokus) */
    outline: none; /* menghapus outline default */
    color: black; /* warna teks tetap hitam saat diisi (fokus) */
}

/* Styling for textarea */
.general-workspace-info textarea {
    height: 100px; /* tinggi textarea */
    resize: vertical; /* biarkan textarea dapat diresize secara vertikal */
}

/* company logo */
.company-logo-placeholder {
    position: relative;
    width: 200px;
    height: 70px;
    background-color: #f0f0f0; /* warna latar belakang placeholder foto */
    border: 1px solid #eeeeee;
    margin: 5px 0px 0px 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.company-logo-placeholder img {
    max-width: 100%;
    max-height: 100%;
}

.company-logo-placeholder .overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
    color: #fff;
    text-align: center;
    padding: 5px 0;
    font-size: 14px;
    cursor: pointer;
    opacity: 0; /* initially hidden */
    transition: opacity 0.3s ease;
}

.company-logo-placeholder:hover .overlay {
    opacity: 1; /* show overlay on hover */
}

.company-logo-placeholder:hover {
    background-color: #e0e0e0; /* light grey background on hover */
}
.close-photo {
    width: 20px;
    height: 20px;
    background-color: #F2F5F9;
    border: none;
    color: #808B97;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
}
/* end company logo */
/* end general-workdpace */

/* start working-day */
.working-day {
    padding: 16px 16px;
}

.form-working-day{
    padding-bottom: 20px;
}

.form-working-day p{
    font-size: 14px;
    padding-top: 5px;
    color: #808B97; /* warna untuk teks abu-abu */
}
.working-day-info strong{
    color: #454B51; /* warna untuk tulisan tebal */
}
/* set hari dan waktu */
.set-waktu{
    margin: 50px;
}
.form-set-waktu{
    margin: 10px 0px 10px 0px;
}
.working-day-info .set-waktu .form-set-waktu input{
    width: 100px;
    height: 33px;
    padding: 4px 12px;
    font-size: 14px;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    margin-top: 5px;
    background-color: #f2f5f9; /* warna latar belakang */
    transition: background-color 0.3s ease, border-color 0.3s ease; /* transisi warna latar belakang dan border */
}
.working-day-info .set-waktu .form-set-waktu span {
    margin: 0px 5px;
}
/* end set hari dan waktu */

.working-day-info input[type="text"],
.working-day-info input[type="date"],
.working-day-info textarea,
.form-working-day-setting select {
    width: 350px;
    height: 33px;
    padding: 4px 12px;
    font-size: 14px;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    margin-top: 5px;
    background-color: #f2f5f9; /* warna latar belakang */
    transition: background-color 0.3s ease, border-color 0.3s ease; /* transisi warna latar belakang dan border */
}

/* Hover state for text inputs and textareas */
.working-day-info input[type="text"]:hover,
.working-day-info input[type="date"]:hover,
.working-day-info textarea:hover,
.form-working-day-setting select:hover {
    border-color: #2383E2; /* warna border biru saat dihover */
}

/* Focus state for text inputs and textareas */
.working-day-info input[type="text"]:focus,
.working-day-info input[type="date"]:focus,
.working-day-info textarea:focus,
.form-working-day-setting select:focus{
    border-color: #2383E2; /* warna border biru saat diisi (fokus) */
    outline: none; /* menghapus outline default */
    color: black; /* warna teks tetap hitam saat diisi (fokus) */
}

/* Styling for textarea */
.working-day-info textarea {
    height: 100px; /* tinggi textarea */
    resize: vertical; /* biarkan textarea dapat diresize secara vertikal */
}

.form-working-day-setting{
    padding: 20px 0px;
}

.form-working-day-setting p{
    font-size: 14px;
    padding-top: 5px;
    color: #808B97; /* warna untuk teks abu-abu */
}
/* end working-day */


/* start project utility */
.project-utility {
    padding: 16px 16px;
}
.project-utility-info p{
    color: #454B51;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-utility-content1{
    background-color: #f0f0f0;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 11px;
}
.project-utility-content2{
    background-color: #f0f0f0;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 11px;
}
/* end project utility */

/* start Time and expenses */
.time-and-expenses {
    padding: 16px 16px;
}
.time-and-expenses-info p{
    color: #454B51;
    display: flex;
    align-items: center;
    justify-content: center;
}

.time-and-expenses-content1{
    background-color: #f0f0f0;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 11px;
}
.time-and-expenses-content2{
    background-color: #f0f0f0;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 11px;
}
/* end time and expenses */

/* start table */
.table-wrapper{
    margin: 16px 0px 16px 0px;
}
.table-wrapper p{
    font-size: 14px;
    color: #37352F;
}
.table-wrapper{
    width: 100%;
}

.top-table{
    height: 50px;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}

/* table-add */
.table-add button{
    height: 33px;
    width: auto;
    padding: 4px 12px;
    background-color: #2383E2;
    border: none;
    border-radius: 3px;
}
.table-add button p{
    color: #FFFFFF;
    font-size: 14px;
}

/* bulk-action */
.bulk-action{
    margin-left: 5px;
}
.bulk-action .select-bulk-action{
    width: 125px;
    height: 33px;
    padding: 4px 12px;
    border: 1px solid #eeeeee;
    background-color: #FFFFFF;
    border-radius: 3px;
}

/* apply */
.apply{
    margin-left: 5px;
}
.apply button{
    height: 33px;
    width: 62px;
    padding: 4px 12px;
    background-color: #FFFFFF;
    border: 1px solid #eeeeee;
    border-radius: 3px;
}
.apply button:hover{
    border-color: #2383E2;
}
.apply button p{
    color: #2383E2;
    font-size: 14px;
}

/* filter-hide-export */
.filter-hide-export{
    display: flex;
    align-items: center;
    margin-right: 5px;
}
.filter-hide-export button{
    height: 35px;
    width: 79px;
    padding: 4px 12px;
    border: none;
    background-color: #FFFFFF;
}
.filter-hide-export button img{
    height: 16px;
    width: 16px;
}
.filter-hide-export button span{
    font-size: 14px;
    margin-left: 5px;
    color: #37352F;
}
.filter-hide-export button a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

/* three-dots */
.three-dots{
    margin-left: 5px;
}
.three-dots button{
    height: 35px;
    width: 40px;
    padding: 4px 12px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 3px;
}
.three-dots button p{
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: #37352F;
}

/* search-table */
.search-wrapper{
    margin-left: auto;
}
.search-table {
    position: relative;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.search-table .search-icon {
    position: absolute;
    top: 50%;
    left: 10px; /* Adjust as needed */
    margin: 2px;
    transform: translateY(-50%);
    width: 16px; /* Adjust size as needed */
    height: 16px;
    pointer-events: none; /* Ensure the icon doesn't block input clicks */
}
.top-table .search-table input {
    height: 33px;
    width: 200px; /* Lebar input sesuai dengan parent */
    padding: 10px 40px; /* Adjust padding to make space for the icon */
    background-color: white;
    border: 1px solid #eeeeee;
    border-radius: 3px;
    font-size: 14px;
}
.top-table .search-table input:hover{
    border-color: #2383E2;
}
.top-table .search-table input:focus{
    border-color: #2383E2;
    outline: none; /* menghapus outline default */
    color: black;
}

/* end table */

/* start tabel holidays */
.table-holidays{
    width: 100%;
    display: flex;
}

.table-holidays table{
    border-collapse: collapse;
    font-size: 14px;
    flex-grow: 1;

}
.table-holidays table thead tr td{
    height: 33px;
    background-color: #f0f0f0;
    padding: 4px 12px 4px 12px;
    border-right: 1px solid white;
    border-left: 1px solid white;
    font-weight: bold;
}
.table-holidays table thead tr td input{
    display: flex;
    justify-content: center;
}

.table-holidays table tbody tr td {
    height: 33px;
    padding: 4px 12px 4px 12px;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.table-holidays table tbody tr td input,
.table-holidays table tbody tr td a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #37352F;
}

.table-holidays table tbody tr:nth-child(even){
    background-color: #f0f0f0;
}

.table-holidays table tbody tr td .round-span{
    display: flex;
    align-items: center;
}
.table-holidays table tbody tr td .round-span span{
    margin-left: 4px;
}

.round-color{
    display: flex;
    background-color: #1AA053;
    height: 14px;
    width: 14px;
    border-radius: 14px;
}
.box-color{
    background-color: #1AA053;
    height: 14px;
    width: 14px;
}

.table-holidays table tbody tr,
.table-holidays table thead tr{
    width: 100%;
    margin-left: auto;
}
