@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-forgotpassword {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.form-container {
    width: 380px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #0000001a;
}

.logo {
    width: 320px;
    text-align: center;
}

.logo img {
    width: 100px; /* Adjust according to your logo size */
    height: auto;
    display: block;
    margin: 0 auto 20px; /* Center the logo and add space */
}

.forgot-password {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.email-recovery {
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
}

.email-recovery input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 0;
    transition: border-color 0.3s ease, color 0.3s ease; /* Transisi perubahan warna border dan warna teks */
    color: #000; /* Warna teks default hitam */
}

.email-recovery input:focus {
    border-color: #2383E2; /* Warna border saat input difokuskan */
    outline: none; /* Hilangkan outline saat difokuskan */
    color: #11171E; /* Warna teks biru saat input difokuskan */
}

.email-recovery label {
    display: block;
    margin-bottom: 5px;
}

.info-text {
    font-size: 12px;
    color: #888;
    text-align: left;
    margin-bottom: 5px;
    font-weight: normal;
}

.send-recovery-link-btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #2383E2;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.send-recovery-link-btn:hover {
    background-color: #2383E2;
}

.return-to-signin {
    text-align: center;
    margin-top: 10px;
}

.return-link {
    color: #2383E2;
    text-decoration: none;
    border-bottom: 1px solid #2383E2;
    transition: color 0.3s ease;
}

.return-link:hover {
    color: #2383E2;
}

.terms-text {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: #555;
}

.terms-links {
    text-align: center;
    margin-top: 5px;
}

.terms-links a {
    color: #2383E2;
    text-decoration: underline;
    cursor: pointer;
}
