.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 8px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #ccc; /* Garis bawah navbar */
    position: relative; /* Menjadikan posisi navbar relatif */
    z-index: 1; /* Memberikan z-index agar navbar berada di atas sidebar */
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-center {
    flex: 1;
    display: flex;
    align-items: center;
}

.logo {
    width: 150px; /* Lebar gambar */
    height: 32px; /* Tinggi gambar */
    text-align: left; /* Logo mentok ke kiri */
}

.logo img {
    width: 100%; /* Memastikan gambar mengisi ruang yang tersedia */
    height: auto; /* Mengatur ketinggian secara otomatis sesuai proporsi */
}

.navbar-center {
    flex: 1;
    display: flex;
    align-items: center;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.search {
    position: relative;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.search-input {
    padding: 10px 40px; /* Adjust padding to make space for the icon */
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 14px;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px; /* Adjust as needed */
    transform: translateY(-50%);
    width: 20px; /* Adjust size as needed */
    height: auto;
    pointer-events: none; /* Ensure the icon doesn't block input clicks */
}

.filter-link {
    color: #808B97;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-left: 10px;
}

.filter-icon {
    margin-right: 5px;
}

