/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Global styles */
* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-login {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.form-login .form-container {
    width: fit-content;
    margin: auto;
    background-color: #fff;
    padding: 30px;
    outline: none;

    border-radius: 5px;
    /*box-shadow: 0 0 10px #0000001a;*/
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align items */
}

.logo-form-login img{
    width: 150px;
    text-align: center;
    margin-bottom: 20px; /* Add margin if needed */
}

.signup {
    margin: 10px auto;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.name-label,
.email-label,
.password-label,
.confirm-password-label {
    display: block;
    text-align: left;
    font-size: 12px;
    font-weight: 500;
    max-width: 300px;
    color: #626d79;
    margin-top: 15px;

}

.name-desc,
.email-desc,
.password-desc,
.confirm-password-desc {
    display: block;
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    max-width: 300px;
    color: #626d79;
}

.name-input,
.email-input,
.password-input,
.confirm-password-input {
    width: 300px;
    min-width: 100%;
    height: 34px;
    margin: 5px 0px;
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    font-size: 14px;
}

.name-input:hover,
.email-input:hover,
.password-input:hover,
.confirm-password-input:hover {
    
}

.name-input:eye,
.email-input:focus,
.password-input:focus,
.confirm-password-input:focus {
    border: 1px solid #2383E2;
}

input::placeholder {
    font-size: 14px;
    color: #a0a8b1;
}

.info-text {
    color: #888;
    font-size: 11px;
    text-align: center;
    margin-top: 10px;
    max-width: 300px;
}

.continue-button {
    width: 100%;
    height: 34px;
    background-color: #2383E2;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px 0 15px 0;
    font-weight: 500;
}

.google-login-button{
    width: 100%;
    height: 34px;
    background-color: #ffffff;
    color: #454B51;
    border: 1px solid #dddddd;
    border-radius: 4px;
    cursor: pointer;
    margin: 15px 0 15px 0;
    font-weight: 500;
}

.google-login-button img{
    margin-right: 5px;
}

.terms-text {
    text-align: center;
    margin: 15px 0 15px 0;
    font-size: 11px;
    color: #626d79;
    max-width: 300px;
}

.terms-links {
    text-align: center;
    margin-top: 5px;
}

.terms-links a {
    color: #2383E2;
    text-decoration: underline;
    cursor: pointer;
}

.input-password-signin{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.eyeicon-signin{
    width: 16px;
    cursor: pointer;
    display: flex;
    float: right;
    position: absolute;
    z-index: 2;
    margin-right: 10px;
}

/* link a */
.signin-link{
    text-decoration: none;
    color: #2383E2;
    margin-left: 3px;
}
.signin-link:hover{
    text-decoration: underline;
}

/* checkbox remember me */

.checkbox-container{
    display: flex;
    align-items: center;
}

.checkbox-container label{
    cursor: pointer;
    display: flex;
    align-items: center;
}

.checkbox-container input[type='checkbox']{
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

.checkbox-container label::before{
    content: '';
    width: 12px;
    height: 12px;
    border-radius: .15em;
    margin-right: 5px;
    border: 1px solid #dddddd;
}

.checkbox-container label:hover::before,
.checkbox-container input[type='checkbox']:hover + label::before{
    
}

.checkbox-container input[type='checkbox']:checked + label::before{
    content: '\002714';
    background-color: none;
    border-color: #2383E2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2383E2;
}

.checkbox-container label{
    color: #626d79;
}

.checkbox-container a{
    margin-left: auto;
}

.profile-divider {
    width: 100%;
    height: 1px;
    background-color: #dddddd;
    list-style: none;
    margin: 5px 0;
    align-self: center;
}


/* btn-prev-next */
.form-step.active{
    display: block;
}

.form-step{
    display: none;
}

.btn-prev-next{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    margin: 5px -2.5px;
}

.btn-form-step{
    width: 50%;
    height: 100%;
    margin: 0 2.5px;
    background-color: #2383E2;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-form-step.btn-next.active{
    margin: 0 0 0 auto;
}
.btn-form-step.btn-prev.end{
    margin: 0 auto 0 0;
}
/* end btn-prev-next */

